<div class="sticky-header header-section" id="header">

  <!--toggle button start-->
  <a class="toggle-btn" (click)="onClickToggleBtn()" id="large"><i class="fa fa-bars"></i></a>
  <a class="toggle-btn"  id="small"><i class="fa fa-bars"></i></a>
  <!--toggle button end-->
  <!--<a class="toggle-btn"><i class="fa fa-bars"></i></a>-->

  <!--search start-->
  <!--<form class="searchform" action="index.html" method="post">-->
    <!--&lt;!&ndash;<div style="width:100px;height: 41px;float:left">&ndash;&gt;-->
    <!--<input type="text" class="form-control" name="keyword" placeholder="Search here..." style="margin-left: 30px;"/>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</form>-->
  <!--search end-->
  <div id="nt-title-container" class="navbar-left running-text" style="padding-top: 7px;">
    <div>
      <div class="date-top" style="width:121px;float:left;margin-left:10px;height:25px;overflow:hidden;">
        <a (click)='onClickLang()' class="fa fa-language" style="margin-top:5px;float:left;color:white"></a>
        <div id="Lang"><a (click)='onClickLang()' id='langLink'>中文</a></div>
        <div class="fa fa-angle-down" style="float:left;margin-top: 5px;"></div>        
      </div>
    <!-- </div> -->
    <div class="date-top" style="margin-left: 10px;width:216px;" id="datediv">
      <li class="fa fa-calendar-o" style="margin-right:5px"></li>
      <li id="Date"></li>
    </div>
    </div>
    <div style="float:left" ID="clockdiv">
    <ul id="digital-clock" class="digital" style="margin-left: 0px;padding-left: 15px;">
      <li class="fa fa-clock-o" style="margin-right:5px"></li>
      <li >{{showDate| date:'HH:mm:ss'}}</li>
    </ul>
    </div>
    <div style="float:left"><ul id="player">
      <li><a id="player" style="color:#fff" (click)='onClickPlayer(msgList,play,stop)'><i class="fa fa-play-circle" #play></i>
        <i class="fa fa-pause-circle" style="display:none" #stop></i>
      </a></li></ul></div>
    <ul id="nt-title" #msgList class="remodal-bg">
      <li style="height:20px;"><a href="#" (click)='onClickTitle()' (hover)='onHoverTitle()'>测试用的1，暂时时没有消时没有消时没有消时没有消时没有消时没有消时没有消没有消息！</a></li>
      <li style="height:20px;"><a href="#" (click)='onClickTitle()' (hover)='onHoverTitle()'>测试用的2，暂时没有消时没有消时没有消时没有消时没有消时没有消时没有消息！</a></li>
      <li style="height:20px;"><a href="#" (click)='onClickTitle()' (hover)='onHoverTitle()'>测试用的3，暂时没有消息！</a></li>
    </ul>
  </div>
  <!--notification menu start -->
  
  <div class="menu-right" style="margin-right: 0px;">
    <ul class="notification-menu">
        
        <li (mouseover)="onMoveinSearch(search)" (mouseout)="onMoveOutSearch(search)" id="search-home">        
            <a class="btn btn-default dropdown-toggle info-number" (click)='onClickSearch(search)' style="border-radius:30px 0 0 30px">
                <input type="text" name="text"  #search class="search-input"  style="border-radius:30px 0 0 30px" placeholder="请输入查询关键字"/><i class="fa fa-search" ></i>
              <!--<span class="badge">4</span>-->
            </a>
          </li>
        <li>
            <a class="btn btn-default dropdown-toggle info-number" (click)='onClickExpend(exp)'>
              <i class="fa fa-expand" #exp></i>
              <!--<span class="badge">4</span>-->
            </a>
          </li>
        <li>
            <a class="btn btn-default dropdown-toggle info-number" (click)='onClickLock(pass)'>
              <i class="fa fa-lock"></i>
              <!--<span class="badge">4</span>-->
            </a>
          </li>
      <li>
        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
          <i class="fa fa-tasks"></i>
          <span class="badge">8</span>
        </a>
        <div class="dropdown-menu dropdown-menu-head pull-right">
          <h5 class="title">你有 8 个未完成的任务</h5>
          <ul class="dropdown-list user-list">
            <li class="new">
              <a href="#">
                <div class="task-info">
                  <div>数据库更新</div>
                </div>
                <div class="progress progress-striped">
                  <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar"
                       class="progress-bar progress-bar-warning">
                    <span class="">40%</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="new">
              <a href="#">
                <div class="task-info">
                  <div>财务报表的记录</div>
                </div>
                <div class="progress progress-striped">
                  <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar"
                       class="progress-bar progress-bar-success">
                    <span class="">90%</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="task-info">
                  <div>网站系统开发</div>
                </div>
                <div class="progress progress-striped">
                  <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66" role="progressbar"
                       class="progress-bar progress-bar-info">
                    <span class="">66% </span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="task-info">
                  <div>手机端业务</div>
                </div>
                <div class="progress progress-striped">
                  <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" role="progressbar"
                       class="progress-bar progress-bar-danger">
                    <span class="">33% </span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="task-info">
                  <div>对外业务开展</div>
                </div>
                <div class="progress progress-striped">
                  <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar"
                       class="progress-bar">
                    <span class="">80% </span>
                  </div>
                </div>
              </a>
            </li>
            <li class="new"><a href="">查看所有任务</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span class="badge">4</span>
        </a>
        <div class="dropdown-menu dropdown-menu-head pull-right">
          <h5 class="title">通知</h5>
          <ul class="dropdown-list normal-list">
            <li class="new">
              <a href="">
                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                <span class="name">博世科技新职位邀约.  </span>
                <em class="small">34 mins</em>
              </a>
            </li>
            <li class="new">
              <a href="">
                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                <span class="name">日本NTT会社远程会议.  </span>
                <em class="small">1 hrs</em>
              </a>
            </li>
            <li class="new">
              <a href="">
                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                <span class="name">技术部手机端APP研发.  </span>
                <em class="small">4 hrs</em>
              </a>
            </li>
            <li class="new">
              <a href="">
                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                <span class="name">的水电费水电费水电费水电费十大.  </span>
                <em class="small">4 hrs</em>
              </a>
            </li>
            <li class="new"><a href="">查看所有通知</a></li>
          </ul>
        </div>
      </li>
      
      <li>
        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
          <i class="fa fa-address-book-o"></i>
          <!--<span class="badge">4</span>-->
        </a>
      </li>
      <li>
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <img src="../../assets/img/photos/user-avatar.png" alt=""/>
          李 大雷
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
          <li><a href="#"><i class="fa fa-user"></i> 个人中心</a></li>
          <li><a href="#"><i class="fa fa-cog"></i> 用户设置</a></li>
          <li><a href="#"><i class="fa fa-sign-out"></i> 退出系统</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
          <i class="fa fa-comments-o"></i>
          <span class="badge">5</span>
        </a>
        <div class="dropdown-menu dropdown-menu-head pull-right">
          <h5 class="title">你有 5 封邮件 </h5>
          <ul class="dropdown-list normal-list">
            <li class="new">
              <a href="">
                <span class="thumb"><img src="../../assets/img/photos/user1.png" alt=""/></span>
                <span class="desc">
                                          <span class="name">王 小明 <span
                                            class="badge badge-success">new</span></span>
                                          <span class="msg">关于上次的合同修改...</span>
                                        </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="thumb"><img src="../../assets/img/photos/user2.png" alt=""/></span>
                <span class="desc">
                                          <span class="name">李 二柱</span>
                                          <span class="msg">面试结果已经更新...</span>
                                        </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="thumb"><img src="../../assets/img/photos/user3.png" alt=""/></span>
                <span class="desc">
                                          <span class="name">赵 铁蛋</span>
                                          <span class="msg">今天有五人未去面试...</span>
                                        </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="thumb"><img src="../../assets/img/photos/user4.png" alt=""/></span>
                <span class="desc">
                                          <span class="name">李 梅</span>
                                          <span class="msg">财务报表已经更新，新员...</span>
                                        </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="thumb"><img src="../../assets/img/photos/user5.png" alt=""/></span>
                <span class="desc">
                                          <span class="name">张 大庆</span>
                                          <span class="msg">明天客户来我司拜访，请...</span>
                                        </span>
              </a>
            </li>
            <li class="new"><a href="">查看所有邮件</a></li>
          </ul>
        </div>
      </li>
     

    </ul>
  </div>
  <!--notification menu end -->
  

</div>
<div class="div-body" style="float:none;display:none" >  
    <div class="div-zh" (click)='onChangeLang("chinese")'>中文</div>  
    <div class="div-jp" (click)='onChangeLang("japanese")'>日本語</div>  
    <div class="div-en" (click)='onChangeLang("english")'>English</div>  
</div> 
<div class="remodal-overlay" style="display: none;overflow:hidden" ></div>

<div class="remodal-wrapper" style="display: none;overflow:hidden" (click)='onClickLay()'>
  <div class="remodal" id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1" style="display:block;margin-top: 0px;text-align:center">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close" (click)='onClickLay()'></button>
  <div>
    <h2 id="modal1Title">公司平台升级相关事项</h2>
    <p id="modal1Desc" style="max-height:400px;overflow-y:auto">
      各位用户，由于本系统将于本月26号上午8时进行系统升级，请大家做好数据备份工作，必要时请和我们联系，谢谢合作！
                                
    </p>
  </div>
  <br>
  <button data-remodal-action="cancel" class="remodal-cancel" (click)='onClickLay()'>取消</button>
  <button data-remodal-action="confirm" class="remodal-confirm" (click)='onClickLay()'>确认</button>
</div></div>

<!-- Lock界面 -->
<div class="lock-screen" style="display: none;overflow:hidden">
    <div class="lock-wrapper" >
      <div class="panel lock-box text-center">
        <img alt="lock avatar" src="../../assets/img/photos/user1.png">
        <div class="locked">
          <i class="fa fa-lock"></i>
        </div>
        <h1>李 大雷</h1>
        <div class="row">
          <div class="form-inline">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">              
              <input type="password" class="form-control lock-input" placeholder="{{'inputUnlockPassword' | translate }}" #pass>
              <button type="submit" class="btn btn-lock pull-right" (click)="onConfirmPass(pass)">
              <i class="fa fa-check"></i>
              </button>
            </div>
            <div id="tip1" style="display:none">{{'unlock' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sky-lock" style="display:none"></div>
  <div id="cloud-lock" style="display:none"></div>
 
