<div class="col-md-8 blog" style="height:95%">
  <div class="panel" style="height: 22%;">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-3">
                  <div class="blog-img-sm">
                      <img src="../../assets/img/blog/blog-sm-img.jpg" alt="" style=" width: 90%">
                  </div>
              </div>
              <div class="col-md-9">
                  <h1 class="">大发水电费十大手动阀是大神是的</h1>
                  <p class=" auth-row">
                      By <a href="#">大师傅</a> | 27 December 2014
                  </p>

                  <p>对方公司分管打分给对方给对方给对方刚发的给对方给对方给对方给对方个地方官打分刚发的刚发的刚发的刚发的给对方个浮动刚发的
                  </p>
                  <a [routerLink]="['./detail']" class="more">继续阅读</a>
              </div>
          </div>
      </div>
  </div>
  <div class="panel" style="height: 22%;">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-3">
                  <div class="blog-img-sm">
                      <img src="../../assets/img/blog/blog-sm-img.jpg" alt="" style=" width: 90%">
                  </div>
              </div>
              <div class="col-md-9">
                  <h1 class="">大发水电费十大手动阀是大神是的</h1>
                  <p class=" auth-row">
                      By <a href="#">大师傅</a> | 27 December 2014
                  </p>

                  <p>对方公司分管打分给对方给对方给对方刚发的给对方给对方给对方给对方个地方官打分刚发的刚发的刚发的刚发的给对方个浮动刚发的
                  </p>
                  <a [routerLink]="['./detail']" class="more">继续阅读</a>
              </div>
          </div>
      </div>
  </div>
  <div class="panel" style="height: 22%;">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-3">
                  <div class="blog-img-sm">
                      <img src="../../assets/img/blog/blog-sm-img.jpg" alt="" style=" width: 90%">
                  </div>
              </div>
              <div class="col-md-9">
                  <h1 class="">大发水电费十大手动阀是大神是的</h1>
                  <p class=" auth-row">
                      By <a href="#">大师傅</a> | 27 December 2014
                  </p>

                  <p>对方公司分管打分给对方给对方给对方刚发的给对方给对方给对方给对方个地方官打分刚发的刚发的刚发的刚发的给对方个浮动刚发的
                  </p>
                  <a [routerLink]="['./detail']" class="more">继续阅读</a>
              </div>
          </div>
      </div>
  </div>
  <div class="panel" style="height: 22%;">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-3">
                  <div class="blog-img-sm">
                      <img src="../../assets/img/blog/blog-sm-img.jpg" alt="" style=" width: 90%">
                  </div>
              </div>
              <div class="col-md-9">
                  <h1 class="">大发水电费十大手动阀是大神是的</h1>
                  <p class=" auth-row">
                      By <a href="#">大师傅</a> | 27 December 2014
                  </p>

                  <p>对方公司分管打分给对方给对方给对方刚发的给对方给对方给对方给对方个地方官打分刚发的刚发的刚发的刚发的给对方个浮动刚发的
                  </p>
                  <a [routerLink]="['./detail']" class="more">继续阅读</a>
              </div>
          </div>
      </div>
  </div>
  

  
 
  <div class="text-center" style="text-align: right;">
      <ul class="pagination blog-pagination" style=" margin-top: -5px;">
          <li><a href="#">PREV</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">NEXT</a></li>
      </ul>

  </div>

</div>