<!--<body class="_ngcontent-c1">-->
<div id="notfound"></div>
<div id="sky">
</div>
<div id="cloud"></div>
<div class="page-not-found-modal">
  <h1>{{'404-404' | translate}}</h1>

  <p>{{'404-pageNotExist' | translate}}<a [routerLink]="['/login']">{{'404-returnBack' | translate}}</a></p>
</div>
<app-footer></app-footer>
<!--<footer class="footer navbar-fixed-bottom ">-->
  <!--<div class="container" align="center" >-->
    <!--<a><img src="../../assets/img/cn.png"/>&nbsp;中文</a> | <a><img src="../../assets/img/jp.png"/>&nbsp;日本語</a> ｜ <a><img src="../../assets/img/us.png"/>&nbsp;English</a>-->
  <!--</div>-->
  <!--<div class="container" align="center">-->
    <!--Copyright © {{'404-copyRight' | translate}}-->
  <!--</div>-->
<!--</footer>-->
<!--</body>-->

