div.rd-want-each-div {
  height: 40px;
  border-bottom: 1px dashed gray;
  font-size: 16px;
  padding-top: 10px;
}

div.rd-want-each-div i{
  margin-right: 30px;
}

div.rd-want-each-div a{
  color: gray;
}

div.rd-want-each-div a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #6bc5a4;
}


.example {
  overflow: hidden;
  background: #f5d7b7;
  height: 44px;
  padding: 0;
  line-height: 44px;
}

.example > li {
  float: left;
  position: relative;
  width: 10%;
  text-align: center;
  list-style: none;
}

.example > li:before, .example > li:after {
  position: absolute;
  top: 0;
}
/* 梯形构造 START*/
.example > li:before {
  width: 44px;
  height: 44px;
  right: -43px;
  background: inherit;
}

.example > li:after {
  right: -44px;
  border: 22px solid;
  border-color: transparent #f5d7b7 #f5d7b7 transparent;
}

.example > li.active {
  background: -webkit-linear-gradient(top, #f3941d, #f3941d 50%, #f08513 50%, #f08513);
}

.example > li.active:before, .example > li.active:after {
  content: '';
}
/* 梯形构造 END*/

