<div class="row" style="height:100%;">
  <div class="col-md-3" style="overflow:hidden">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-body">
            <div class="profile-pic text-center">
              <img alt="" src="../../assets/img/photos/user1.png">
            </div>
            <div style="text-align: center;">王立勇</div>
            <div style="text-align: center;color: gray;margin-top: 5px;">男 | 28岁 | 中国 安徽 安庆</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-body">
            <div class="rd-want-each-div"><a><i class="fa fa-share-square-o"></i>推荐项目</a></div>
            <div class="rd-want-each-div"><a><i class="fa fa-star-o"></i>关注此人</a></div>
            <div class="rd-want-each-div"><a><i class="fa fa-gears"></i>加入分组</a></div>
            <div class="rd-want-each-div"><a><i class="fa fa-print"></i>打印简历</a></div>
            <div class="rd-want-each-div"><a><i class="fa fa-download"></i>下载简历</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 scroll-bar-css" style="padding-left: 0px;overflow-y:auto">
    <div class="panel">
      <div class="panel-body" style="padding: 0px;border: none;">
        <ul class="example" style="margin-bottom: 0px;">
          <li class="active" style="color: white;"><i class="fa fa-drivers-license" style="margin-right: 10px;"></i> 基本资料
          </li>
          <li style="width: 40%;text-align: left;padding-left: 60px;color: gray;font-style: italic;">
            个人情报，让人一目了然
          </li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 13px;">
        <div class="rd-want-row">
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">到岗时间：</span>1个月内</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">求职状态：</span>目前正在找工作</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望地点：</span>上海</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望月薪：</span>6000-7999元/月</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">工作性质：</span>全职</div>
        </div>
        <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望职能：</span>物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body" style="padding: 0px;border: none;">
        <ul class="example" style="margin-bottom: 0px;">
          <li class="active" style="color: white;"><i class="fa fa-drivers-license" style="margin-right: 10px;"></i> 联系方式
          </li>
          <li style="width: 40%;text-align: left;padding-left: 60px;color: gray;font-style: italic;">
            个人情报，让人一目了然
          </li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 13px;">
        <div class="rd-want-row">
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">到岗时间：</span>1个月内</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">求职状态：</span>目前正在找工作</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望地点：</span>上海</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望月薪：</span>6000-7999元/月</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">工作性质：</span>全职</div>
        </div>
        <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望职能：</span>物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body" style="padding: 0px;border: none;">
        <ul class="example" style="margin-bottom: 0px;">
          <li class="active" style="color: white;"><i class="fa fa-drivers-license" style="margin-right: 10px;"></i> 教育背景
          </li>
          <li style="width: 40%;text-align: left;padding-left: 60px;color: gray;font-style: italic;">
            个人情报，让人一目了然
          </li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 13px;">
        <div class="rd-want-row">
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">到岗时间：</span>1个月内</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">求职状态：</span>目前正在找工作</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望地点：</span>上海</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望月薪：</span>6000-7999元/月</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">工作性质：</span>全职</div>
        </div>
        <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望职能：</span>物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body" style="padding: 0px;border: none;">
        <ul class="example" style="margin-bottom: 0px;">
          <li class="active" style="color: white;"><i class="fa fa-drivers-license" style="margin-right: 10px;"></i> 工作经历
          </li>
          <li style="width: 40%;text-align: left;padding-left: 60px;color: gray;font-style: italic;">
            个人情报，让人一目了然
          </li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 13px;">
        <div class="rd-want-row">
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">到岗时间：</span>1个月内</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">求职状态：</span>目前正在找工作</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望地点：</span>上海</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望月薪：</span>6000-7999元/月</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">工作性质：</span>全职</div>
        </div>
        <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望职能：</span>物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body" style="padding: 0px;border: none;">
        <ul class="example" style="margin-bottom: 0px;">
          <li class="active" style="color: white;"><i class="fa fa-drivers-license" style="margin-right: 10px;"></i> 其他特长
          </li>
          <li style="width: 40%;text-align: left;padding-left: 60px;color: gray;font-style: italic;">
            个人情报，让人一目了然
          </li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 13px;">
        <div class="rd-want-row">
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">到岗时间：</span>1个月内</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">求职状态：</span>目前正在找工作</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望地点：</span>上海</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望月薪：</span>6000-7999元/月</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">工作性质：</span>全职</div>
        </div>
        <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望职能：</span>物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body" style="padding: 0px;border: none;">
        <ul class="example" style="margin-bottom: 0px;">
          <li class="active" style="color: white;"><i class="fa fa-drivers-license" style="margin-right: 10px;"></i> 自我补充
          </li>
          <li style="width: 40%;text-align: left;padding-left: 60px;color: gray;font-style: italic;">
            个人情报，让人一目了然
          </li>
        </ul>
      </div>
      <div class="panel-body" style="padding-bottom: 13px;">
        <div class="rd-want-row">
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">到岗时间：</span>1个月内</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">求职状态：</span>目前正在找工作</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望地点：</span>上海</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望月薪：</span>6000-7999元/月</div>
          <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">工作性质：</span>全职</div>
        </div>
        <div class="rd-want-each" style="margin-bottom:8px"><span style="color:gray">期望职能：</span>物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
      </div>
    </div>
  </div>