<div id="right-body" class="scroll-bar-css" style="height:100%">
    <router-outlet></router-outlet>
</div>
<div id="diaglog">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="sidebar-inner" style="overflow: hidden; width: auto; height: 100%;">
            <div class="sidebar-panel mt0">
                <div class="sidebar-panel-content fullwidth pt0">
                    <div class="chat-user-list">
                        <div class="form-horizontal chat-search" role="form">
                            <div class="form-group sear">
                                <i class="fa fa-binoculars"></i>
                                <input type="text" class="form-control" placeholder="查找...">
                                <!-- <button type="submit"><i class="ec-search s16"></i>
                            </button> -->
                            </div>
                            <!-- End .form-group  -->
                        </div>
                        <ul class="chat-ui bsAccordion">
                            <li class="">
                                <a href="#">默认分组一 <span class="notification teal">4</span>
                              <i class="fa fa-angle-down"></i>
                            </a>
                                <ul class="collapse in" aria-expanded="true">
                                    <li style="display: block;">
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user1.png" tppabs="assets/img/photos/user1.png" alt="@chadengle">
                                        <div style="width:100px;float:left">李 大志</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                        <span class="status hasmessage"><i class="fa fa-circle"></i></span>
                                    </li>
                                    <li style="display: block;">
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user3.png" tppabs="assets/img/photos/user1.png" alt="@chadengle">
                                        <div style="width:100px;float:left">蒋 小雅</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                        <span class="status hasmessage"><i class="fa fa-circle"></i></span>
                                    </li>
                                    <li style="display: block;">
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user6.png" tppabs="assets/img/photos/user1.png" alt="@chadengle">
                                        <div style="width:100px;float:left">王 海伦</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                    </li>
                                    <li style="display: block;">
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user2.png" tppabs="assets/img/photos/user1.png" alt="@chadengle">
                                        <div style="width:100px;float:left">路 彤</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#">默认分组二 <span class="notification green">3</span><i class="en-arrow-down5"></i></a>
                                <ul class="collapse in" aria-expanded="true">
                                    <li>
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user5.png" tppabs="assets/img/photos/user1.png" alt="@kolage">
                                        <span class="status online"><i class="en-dot"></i></span>
                                        <div style="width:100px;float:left">邓 海华</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                    </li>
                                    <li style="display: block;">
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user6.png" tppabs="assets/img/photos/user1.png" alt="@mikebeecham">
                                        <div style="width:100px;float:left">杨 明芳</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                        <span class="status online"><i class="en-dot"></i></span>
                                    </li>
                                    <li style="display: block;">
                                        <a href="#" class="chat-name">
                                        <img class="chat-avatar" src="assets/img/photos/user7.png" tppabs="assets/img/photos/user1.png" alt="@derekebradley">
                                        <span class="status online"><i class="en-dot"></i></span>
                                        <div style="width:100px;float:left">胡 坤芳</div>
                                        <div style="width:100px;float: left;">08/29 15:30</div>
                                        <div style="float: left; margin-top: 5px;color: gray;">昨天说的十大法师打发第三方士大夫</div>
                                    </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <div id="gritter-item-17" class="gritter-item-wrapper " style="opacity: 0.705757;"><div class="gritter-top"></div><div class="gritter-item"><div class="gritter-close"></div><div class="gritter-without-image"><span class="gritter-title">This is a notice without an image!</span><p>This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.</p></div><div style="clear:both"></div></div><div class="gritter-bottom"></div></div> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>