<div class="left-side sticky-left-side" id="leftDiv" style="height:100%;float:left;position:fixed">

  <div class="logo">
    <a href="index.html"><img src="../../assets/img/logo.png" alt=""></a>
  </div>

  <div class="logo-icon text-center" style="padding-top:10px">
    <a href="index.html"><img src="../../assets/img/logo_icon.png" alt=""></a>
  </div>

  <div class="left-side-inner">

    <div class="visible-xs hidden-sm hidden-md hidden-lg">
      <div class="media logged-user">
        <img alt="" src="../../assets/img/photos/user1.png" class="media-object">
        <div class="media-body">
          <h4><a href="#">John Doe</a></h4>
          <span>"Hello There..."</span>
        </div>
      </div>

      <h5 class="left-nav-title">Account Information</h5>
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
      </ul>
    </div>

    <ul class="nav nav-pills nav-stacked custom-nav">
      <!-- <li class="menu-list nav-active"><a href="index.html" (click)='onMenuListClick(listDash)' #listDash><i class="fa fa-home"></i> <span>{{'dashboard' | translate}}</span></a> -->
        <li><a [routerLink]="['./']" ><i class="fa fa-home"></i> <span>{{'dashboard' | translate}}</span></a>
        <!-- <ul class="sub-menu-list">
          <li><a href="index_alt.html"> Dashboard 1</a></li>
          <li class="active"><a href="index.html"> Dashboard 2</a></li>
        </ul> -->
      </li>

      <li class="menu-list"><a href=""  (click)='onMenuListClick(listLay)' #listLay><i class="fa fa-laptop"></i> <span>{{'talentCenter'| translate}}</span></a>
        <ul class="sub-menu-list">
          <li><a [routerLink]="['./talentlist']"> {{'talentList'| translate}}</a></li>
          <li><a [routerLink]="['./talentadd']"> {{'talentAdd'| translate}}</a></li>
          <!-- <li><a [routerLink]="['./talentbatch']"> {{'talentBatch'| translate}}</a></li> -->
        </ul>
      </li>
      <li class="menu-list"><a href="" (click)='onMenuListClick(listUI)' #listUI><i class="fa fa-book"></i> <span>{{'CRM'| translate}}</span></a>
        <ul class="sub-menu-list">
          <li><a href="general.html"> {{'CRM1'| translate}}</a></li>
          <li><a href="buttons.html"> {{'CRM2'| translate}}</a></li>
          <li><a href="tabs-accordions.html"> {{'CRM3'| translate}}</a></li>
        </ul>
      </li>
      <li><a href="fontawesome.html"><i class="fa fa-gitlab"></i> <span>{{'project management'| translate}}</span></a></li>
      <li><a href="fontawesome.html"><i class="fa fa-sliders"></i> <span>{{'job management'| translate}}</span></a></li>
      <li class="menu-list"><a href="" (click)='onMenuListClick(ListCom)' #ListCom><i class="fa fa-cogs"></i> <span>{{'plattform'| translate}}</span></a>
        <ul class="sub-menu-list">
          <li><a href="grids.html"> {{'plattform1'| translate}}</a></li>
          <li><a href="gallery.html">{{'plattform2'| translate}}</a></li>
          <li><a href="calendar.html"> {{'plattform3'| translate}}</a></li>
          <li><a href="tree_view.html"> {{'plattform4'| translate}}</a></li>
          <li><a href="nestable.html">{{'plattform5'| translate}}</a></li>
          <li><a href="nestable.html">{{'plattform6'| translate}}</a></li>
        </ul>
      </li>

      <li><a href="fontawesome.html"><i class="fa fa-bullhorn"></i> <span>{{'partner'| translate}}</span></a></li>
      <li><a href="fontawesome.html"><i class="fa fa-bullseye"></i> <span>{{'headhunters'| translate}}</span></a></li>
      <li><a href="fontawesome.html"><i class="fa fa-bar-chart-o"></i> <span>{{'financial statements'| translate}}</span></a></li>
      <li><a href="fontawesome.html"><i class="fa fa-sort-numeric-asc"></i> <span>{{'KPI figures'| translate}}</span></a></li>
      <li class="menu-list"><a href="" (click)='onMenuListClick(Pay)' #Pay><i class="fa fa-cc-paypal"></i> <span>{{'clearingSystem'| translate}}</span></a>
        <ul class="sub-menu-list">
          <li><a href="grids.html"> {{'internal'| translate}}</a></li>
          <li><a href="gallery.html">{{'external'| translate}}</a></li>         
        </ul>
      </li>

      <li><a href="fontawesome.html"><i class="fa fa-file-text-o"></i> <span>{{'template files'| translate}}</span></a></li>
      <li><a href="fontawesome.html"><i class="fa fa-list-alt"></i> <span>{{'my schechudel'| translate}}</span></a></li>
      <li ><a [routerLink]="['./mail']"><i class="fa fa-envelope"></i> <span>{{'email'| translate}}</span>&nbsp;&nbsp;<span class="badge">42</span></a></li>
      <li><a [routerLink]="['./generalsettings']"><i class="fa fa-wrench"></i> <span>{{'generalsettings'| translate}}</span></a></li>
      <li><a (click)="onClickLogout()"><i class="fa fa-sign-out"></i> <span>{{'logout'| translate}}</span></a></li>

    </ul>
    <!--sidebar nav end-->

  </div>
</div>

