<div class="sticky-header" id="home" style="height:100%;overflow: hidden;">
  <!-- <div style="width:15%;height:100%;position: relative; overflow: hidden;"> -->
  <app-home-left></app-home-left>
  <!-- </div> -->
  <app-home-right></app-home-right>
  <div id="timeline">
    <div class="timeInner" style="padding-top: 40px;">
      <div class="minisizeTimeLine" (mouseover)="onMouseOverMinisizeTime(miniTime)" (mouseout)="onMouseOutMinisizeTime(miniTime)"
        (click)="onClickMinisizeTime()"><i class="fa fa-angle-double-up fa-2x" #miniTime style="padding-top:5px;"></i>
      </div>
      <section class="cd-horizontal-timeline" id="cd-timeline" style="margin-top:0px;margin-bottom: 0px;height: 100%;">
        <div class="timeline">
          <div class="events-wrapper scroll-bar-css" style="width: 96%;overflow-x:auto;margin-right: 80px;">
            <div class="events" style="transform: translateX(0px);" id="timeLineScroll" style="width:2000px;" >
              <ol>
                <li><a href="#0" data-date="16/01/2014" class="older-event selected" style="left: 72px;">16/02/30</a></li>
                <li><a href="#0" data-date="28/02/2014" class="" style="left: 272px;">17/08/22</a></li>
                <li><a href="#0" data-date="20/04/2014" class="" style="left: 472px;">17/08/23</a></li>
                <li><a href="#0" data-date="20/05/2014" class="" style="left: 672px;">17/08/24</a></li>
                <li><a href="#0" data-date="09/07/2014" class="" style="left: 872px;">17/08/25</a></li>
                <li><a href="#0" data-date="30/08/2014" class="" style="left: 1072px;">17/08/26</a></li>
                <li><a href="#0" data-date="15/09/2014" class="" style="left: 1272px;">17/08/27</a></li>
                <li><a href="#0" data-date="15/09/2014" class="" style="left: 1472px;">17/08/28</a></li>
                <li><a href="#0" data-date="01/11/2014" class="" style="left: 1672px;">17/08/29</a></li>
              </ol>

              <span class="filling-line" aria-hidden="true"></span>
              <!-- <div style="width:1400px;height:150px;overflow: auto;">
                <div style="white-space: nowrap;"> -->
                  <div class="arrow_box top" style="left:72px;">入库<br/>操作员:李晓芳<br/>之岸(上海)信息技术有限公司</div>
                  <div class="arrow_box top" style="left:272px;">推荐至联通客服专员<br/>操作员:王立海<br/>之岸(上海)信息技术有限公司</div>
                  <div class="arrow_box top"  style="left:472px;">面试通过<br/>操作员:李新丽<br/>东方航空集团有限公司</div>
                  <div class="arrow_box top" style="left:672px;">入职成功<br/>操作员:李新丽<br/>东方航空集团有限公司</div>
                  <div class="arrow_box top" style="left:872px;">离职<br/>操作员:李新丽<br/>东方航空集团有限公司</div>
                  <div class="arrow_box top" style="left:1072px;">推荐至移动热线客服<br/>操作员:王立海<br/>之岸(上海)信息技术有限公司</div>
                  <div class="arrow_box top" style="left:1272px;">面试不通过<br/>操作员:王晓吉<br/>移动通信集团有限公司</div>
                  <div class="arrow_box top" style="left:1472px;">推荐至博士托客服专员<br/>操作员:王大虎<br/>博士托(上海)信息技术有限公司</div>
                  <div class="arrow_box top" style="left:1672px;">面试不通过<br/>操作员:王晓吉<br/>移动通信集团有限公司</div>
                  
                  <!-- <div class="arrow_box top">面试通过<br/>操作员:李新丽<br/>东方航空集团有限公司</div> -->
<!-- 
                </div>
              </div> -->
            </div>
          </div>
            <ul class="cd-timeline-navigation">
              <li><a (click)="onclickPrevTimeLine()" class="prev">Prev</a></li>
              <li><a (click)="onclickNextTimeLine()" class="next" style="left:100%">Next</a></li>
            </ul>
          <!-- <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a (click)="onClickNext()" class="next">Next</a></li>
          </ul> -->
          <!-- </div> -->
        </div>
      </section>
    </div>
  </div>
  <div id="employerprofile" class="scroll-bar-css">
    <div class="rd-main right-pro">
      <div style="overflow-y:hidden" class="minisizel" (mouseover)="onMouseOverMinisize(mini)" (mouseout)="onMouseOutMinisize(mini)"
        (click)="onClickMinisize()" #mini><i class="fa fa-angle-double-right fa-2x"></i></div>
      <!-- <div class="left-pro"></div> -->
      <div class="rd-left rd-resume" style="overflow-y:auto">
        <div class="rd-head">
          <!-- <div style="border-bottom: 1px solid #CCC;padding-bottom:30px;"> -->
          <div class="rd-head-right r_tc3">
            <div class="rd-head-right l_h32" style="margin-top:-5px;">
              来源:智联&nbsp;&nbsp;&nbsp;&nbsp;更新时间：2017-10-24</div>
          </div>
          <div>
            <div class="rd-head-photo">
              <!-- <img class="rd-head-photo" alt="" src="../../assets/img/defaultpic.png"> -->
              <img class="rd-head-photo" alt="" src="../../assets/img/photos/user5.png">
            </div>
            <div class="rd-head-info">
              <div class="rd-head-row">
                <div class="rd-head-left">
                  <span style="font-size: 18px; font-weight: bold;">239301256</span>&nbsp;
                  <span style="font-size: 12px; color: #999999;"> 男26</span>
                </div>
              </div>
              <div class="rd-head-row">
                <div class="rd-head-left">居住上海-杨浦区</div>
              </div>
              <div class="rd-head-row">
                <div class="rd-head-left">5年工作经验&nbsp;|&nbsp;大专&nbsp;|&nbsp;上海民远职业技术学院&nbsp;|&nbsp;电气信息工程</div>
              </div>
              <div class="rd-head-row">
                <div class="rd-head-left">当前工作：业务跟单&nbsp;|&nbsp;上海莜怡贸易有限公司</div>
              </div>
              <div class="rd-contact-each-box">
                <div class="rd-contact-each">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--标签div
       <div class="rd-head-tag">
          <span>跳槽标签</span>
          <span>标签</span>
          <span>标签</span>
       </div>-->
        <div class="rd-container rd-want-div" id="rd_containerDiv">
          <div class="rd-title">
            求职状态
          </div>
          <div class="rd-want-row">
            <div class="rd-want-each">到岗时间：1个月内</div>
            <div class="rd-want-each">求职状态：目前正在找工作</div>
            <div class="rd-want-each">期望地点：上海</div>
            <div class="rd-want-each">期望月薪：6000-7999元/月</div>
            <div class="rd-want-each">工作性质：全职</div>
          </div>
          <div class="rd-want-each">期望职能：物流/仓储,网店/淘宝运营,采购助理,物业管理专员/助理</div>
          <div class="rd-title">
            自我介绍
          </div>
          <div>
            <div class="rd-content">我是个乐观向上的大男孩，目前已经从学校毕业并且工作一年多了。能吃苦有目标，希望都够通过工作中不断地实践与学习来完善自己。珍惜每一个机会，用自己的行动来证明自己可以胜任工作。为人幽默，品行端正对自己的口才有一定的信心。虽然目前经验与资本不足，但是我会努力。我还处于学习阶段发展可能行很大，不会因为一开始的一点小挫折而放弃自己的理想</div>
          </div>
          <div class="rd-title">
            工作经历
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div>2017.02-2017.07</div>
              <div>5个月</div>
            </div>
            <div class="col-xs-9">
              <div class="rd-td-title">业务跟单</div>
              <div>订单组&nbsp;|&nbsp;上海莜怡贸易有限公司(合资&nbsp;|&nbsp;50-150人&nbsp;|&nbsp;交通/运输/物流)</div>
              <div></div>
              <div class="rd-td-title">工作内容：</div>
              <div class="rd-content-none">母婴品牌飞利浦新安怡官方合作的最大经销商。主要负责和各KA平台和其他零散渠道的业务和物流订单对接（小红书，当当网，东方购物等）。根据销售的要求首先是用ERP系统订单制作和确认。然后和平台或者渠道确认收发货要求并准确传到仓库，督促仓库按照要求发货。再实时跟踪订单物流，确认物流到货并和收货方确认具体到货。最后确认是否存在收回缺失或者不良品的退回及最重要和财务一起确认的订单货款的落实。定期和财务一起结算自己对应渠道系统出货对应的货款是否有误。还需要经常去大仓和B品仓进行盘点，归纳。所有新渠道业务沟通，资料传递，合同签订及归纳保存等。已经公司其他零碎事务性工作，按照领导指示全力配合销售组完成公司指标。</div>
            </div>
            <span class="self-clear"></span>
          </div>
          <div class="rd-hline"></div>
          <div class="row">
            <div class="col-xs-3">
              <div>2016.06-2017.01</div>
              <div>7个月</div>
            </div>
            <div class="col-xs-9">
              <div class="rd-td-title">其他</div>
              <div>线上运营及渠道对接&nbsp;|&nbsp;上海祥兰餐饮有限公司(民营公司&nbsp;|&nbsp;50-150人&nbsp;|&nbsp;互联网/电子商务)</div>
              <div></div>
              <div class="rd-td-title">工作内容：</div>
              <div class="rd-content-none">祥兰餐饮是一家主做线上餐饮的公司，线上餐饮主要是最近比较火热的外卖服务包括：饿了吗，美团，百度等。我的工作岗位是线上运营及渠道对接。工作内容主要是：日常的店铺维护 ：店铺的营业数据汇总，产品的上下架，优惠活动内容的编辑和落实等。然后根据店铺营业数据的汇总定期和领导及加盟开会确定营销计划并保证落地。还需要和各店铺对应各平台的负责人沟通，争取最大力度的平台扶持和官方活动的落实。</div>
            </div>
            <span class="self-clear"></span>
          </div>
          <div class="rd-hline"></div>
          <div class="row">
            <div class="col-xs-3">
              <div>2014.06-2016.04</div>
              <div>1年10个月</div>
            </div>
            <div class="col-xs-9">
              <div class="rd-td-title">运营助理</div>
              <div>运营部&nbsp;|&nbsp;上海言美电子商务有限公司(民营公司&nbsp;|&nbsp;50-150人&nbsp;|&nbsp;互联网/电子商务)</div>
              <div></div>
              <div class="rd-td-title">工作内容：</div>
              <div class="rd-content-none">日常自营淘宝店，1号店的日常维护（产品上下架、库存核对、售前售后）、站内外活动报名、直通车推广、订货（新品的预估、热销款的补货）、基础的图片修改和设计探讨制作产品的主图、详情页和店铺首页和活动页面。</div>
            </div>
            <span class="self-clear"></span>
          </div>
          <div class="rd-hline"></div>
          <div class="row">
            <div class="col-xs-3">
              <div>2013.08-2014.03</div>
              <div>7个月</div>
            </div>
            <div class="col-xs-9">
              <div class="rd-td-title">渠道/分销专员</div>
              <div>直客部&nbsp;|&nbsp;上海市房盟信息有限公司(民营公司&nbsp;|&nbsp;500-1000人&nbsp;|&nbsp;中介服务)</div>
              <div></div>
              <div class="rd-td-title">工作内容：</div>
              <div class="rd-content-none">直客部属于一个比较机动的部门，平时一般分外场内场。外场主要以案场支援或者寻找业务伙伴及客户，内场主要以电话销售为主。凡事有楼房开盘基本都是去案场支援，支援内容有项目宣传，客户维护，跟单签合同等等。</div>
            </div>
            <span class="self-clear"></span>
          </div>
          <div class="rd-hline"></div>
          <div class="row">
            <div class="col-xs-3">
              <div>2013.01-2013.05</div>
              <div>4个月</div>
            </div>
            <div class="col-xs-9">
              <div class="rd-td-title">高级物业顾问/物业顾问</div>
              <div>中原物业顾问有限公司(房地产)</div>
              <div></div>
              <div class="rd-td-title">工作内容：</div>
              <div class="rd-content-none">首先要熟悉主营楼盘的在售房源及周边环境。然后利用门店及互联网客户资源尽可能多的接纳客源。按照客人要求介绍匹配度高的房源进行带看，并提出个人建议最终促成成交。平日里也要维护房东保障房源信息。虽然是实习的第一份工作，但也靠自己的努力在五个月内完成10万的业绩。</div>
            </div>
            <span class="self-clear"></span>
          </div>
          <div class="rd-title">
            教育经历
          </div>
          <div class="row">
            <div class="col-xs-3">2010.09-2012.06</div>
            <div class="col-xs-4">上海民远职业技术学院</div>
            <div class="col-xs-2">大专</div>
            <div class="col-xs-3">电气信息工程</div>
            <span class="self-clear"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>